{{ $giscus := site.Params.giscus }}
{{ if and $giscus.enabled $giscus.repo $giscus.repoId $giscus.category $giscus.categoryId }}
  <section class="comments" aria-labelledby="comments-title">
    <h2 id="comments-title">{{ i18n "comments" }}</h2>
    <script src="https://giscus.app/client.js"
      data-repo="{{ $giscus.repo }}"
      data-repo-id="{{ $giscus.repoId }}"
      data-category="{{ $giscus.category }}"
      data-category-id="{{ $giscus.categoryId }}"
      data-mapping="{{ $giscus.mapping | default "pathname" }}"
      data-strict="0"
      data-reactions-enabled="{{ $giscus.reactionsEnabled | default "1" }}"
      data-emit-metadata="{{ $giscus.emitMetadata | default "0" }}"
      data-input-position="{{ $giscus.inputPosition | default "bottom" }}"
      data-theme="{{ $giscus.theme | default "preferred_color_scheme" }}"
      data-lang="{{ site.Params.giscusLang | default $giscus.lang | default site.Language.Lang }}"
      crossorigin="anonymous"
      async>
    </script>
  </section>
{{ end }}
