<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ $description := .Description | default site.Params.description }}
  {{ $title := cond .IsHome site.Title (printf "%s | %s" .Title site.Title) }}
  <meta name="description" content="{{ $description }}">
  <meta name="author" content="{{ site.Params.author }}">
  <meta name="theme-color" content="#2f6f5e">
  <link rel="canonical" href="{{ .Permalink }}">
  {{ range .Translations }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}">
  {{ end }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}">
  <link rel="alternate" hreflang="x-default" href="{{ .Permalink }}">
  {{ with .OutputFormats.Get "RSS" }}
    <link rel="alternate" type="application/rss+xml" href="{{ .Permalink }}">
  {{ end }}
  <link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">
  {{ $css := resources.Get "css/main.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ template "_internal/schema.html" . }}
  <title>{{ $title }}</title>
</head>
